.overlay-container {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;

  .overlay-header {
    line-height: 45px;
    padding: 5px 15px;
    z-index: 9999;

    .download-icon-overlay {
      cursor: pointer;
      background: url(/assets/images/download_icon.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 24px;
      margin-left: 7px;
      margin-top: 0px;
      opacity: .8;
      transition: linear .15s;
      width: 36px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.cancel-holder {
  color: white;
  cursor: pointer;
  left: 15px;
  position: fixed;
  top: 16px;

  .fa {
    font-size: 36px;
    opacity: .8;
    padding: 5px;
    transition: ease-in-out .15s;

    &:hover {
      opacity: 1;
    }
  }
}

.overlay-head-container {
  background: #000;
  height: 66px;
  opacity: .35;
  position: fixed;
}

.overlay-header {
  position: fixed;
  right: 0;
  top: 6px;
  width: 25%;

  .verify-compnents-holder {
    float: right;
    width: 100%;
  }

  .shopping-cart-input {
    height: 26px;
    margin-left: 30px;
    margin-right: 10px;
    padding: 3px;
    width: 50%;
  }

  .like-button {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    line-height: 40px;
    opacity: 1;
    padding: 9px 45px;
    transition: linear .15s;

    &.disabled-button {
      cursor: default;
      opacity: .4;
    }

    &:hover {
      &:not(.disabled-button) {
        background: white;
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .overlay-header {
    .shopping-cart-input {
      margin-left: 0;
    }
  }
}

.toggle-arrow {
  color: white;
  cursor: pointer;
  font-size: 46px;
  opacity: .7;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  &.toggle-prev {
    left: 15px;
  }

  &.toggle-next {
    right: 15px;
  }
}